/* --------------------------------------- */
/*   BASIC RESET                           */
/* --------------------------------------- */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 기본 HTML & BODY 초기화 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #e5e5e5; /* 전체 배경 e5e5e5 */
  color: #000;
}

/* 링크 기본 스타일 제거 */
a {
  text-decoration: none;
  color: inherit;
}

/* 리스트 스타일 제거 */
ul,
ol {
  list-style: none;
}

/* 버튼 초기화 */
button {
  cursor: pointer;
  border: none;
  background: none;
  font: inherit;
}

/* 이미지 자동 줄맞춤 제거 */
img {
  display: block;
  max-width: 100%;
}

/* input 기본 스타일 정리 */
input {
  border: none;
  outline: none;
  font: inherit;
}

/* textarea 기본 스타일 정리 */
textarea {
  border: none;
  outline: none;
  font: inherit;
  resize: none;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 데스크탑 4개 */
  gap: 25px;
}

.gallery-item {
  background-color: #ddd;
  width: 100%;
  padding-bottom: 75%; /* 4:3 비율 유지 */
  border-radius: 4px;
}

/* 모바일 (가로폭 768px 이하) → 2개 */
@media (max-width: 768px) {
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 20px;
  }
}

/* 아주 작은 모바일 (가로폭 480px 이하) → 1개 */
@media (max-width: 480px) {
  .gallery-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* 클릭할 대 자연스럽게 내려감 */
html {
  scroll-behavior: smooth;
}
